# テーブル名:
#   precondition_table: [前提条件として作成するデータのテーブル名を指定]
#   フィールド名:
#     call: 呼び方
#     input_type: 入力形式
#     require: true or false or case
#     max: 最大文字数
#     other: 指定の形式（半角英数字）
#     case: 'require: case'の場合のみ自由記述
#     test_data: テストデータ  （全てのテストデータに必要な場合は「test_data」とします。）
#     test_data_precondition: テストデータの前提条件（全てのテストデータに必要な場合は「test_data_precondition」とします。）
#     test_data_1: テストデータ1   （特定のテストデータにのみ必要な場合は「test_data_<数字>」とします。）
#     test_data_2: テストデータ2

# require: caseの場合の記述方法は以下の通り
# case: "XXXXXXXXXXXXの場合は、YYYYYYYYYYYY"
# XXXXXXXXXXXX: 条件
# YYYYYYYYYYYY: 必須 or 任意

customers:
  precondition_table: [customer_groups]
  customer_name:
    call: "顧客名"
    input_type: "text"
    require: true
    max: 100
    test_data: "試験用顧客A"
  customer_number:
    require: case
    case: "ログインユーザが管理者の場合のみ、任意"
    other: "半角英数字のみ"
    test_data_1: "test01"
  note:
    call: "備考"
    input_type: "text"
    require: false
    max: 1000
    test_data: "試験用備考"
